# Dependencies
node_modules
/.pnp
.pnp.js

# Next JS
.next
next-env.d.ts
*.env
out

# Service Worker
public/sw.js
public/sw.js.map
public/workbox-*.js
public/workbox-*.js.map

# Testing
coverage
.nyc_output

# Cypress
cypress/videos/**
cypress/screenshots/**

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local

# Vercel
.vercel

# Typescript
*.tsbuildinfo

# Sentry Config File
.env.sentry-build-plugin

# Next Image Export Optimizer
next-image-export-optimizer
public/assets/next-image-export-optimizer-hashes.json
