<!--achievements start -->
<section id="achievements" class="achievements" data-cy-section="achievements">
    <div class="achievements-details">
        <div class="section-heading text-center">
            <h2>achievements</h2>
        </div>
        <div class="container">
            <div class="achievements-content">
                <div class="isotope">
                    <div class="row">
                        <div class="col-sm-4">
                            {% for achievement in site.data.achievements.list limit: 2 %}
                            <div class="item">
                                <img src="{{ achievement.image }}" alt="{{ achievement.name }}"/>
                                <div class="isotope-overlay">
                                    <a href="#">
                                        {{ achievement.name }}
                                    </a>
                                </div><!-- /.isotope-overlay -->
                            </div><!-- /.item -->
                            {% endfor %}
                        </div><!-- /.col -->
                        <div class="col-sm-4">
                            <div class="item">
                                <img src="{{ site.data.achievements.main.image }}"
                                     alt="{{ site.data.achievements.main.name }}"/>
                                <div class="isotope-overlay">
                                    <a href="#">
                                        {{ site.data.achievements.main.name }}
                                    </a>
                                </div><!-- /.isotope-overlay -->
                            </div><!-- /.item -->
                        </div><!-- /.col -->
                        <div class="col-sm-4">
                            {% for achievement in site.data.achievements.list offset: 2 %}
                            <div class="item">
                                <img src="{{ achievement.image }}" alt="{{ achievement.name }}"/>
                                <div class="isotope-overlay">
                                    <a href="#">
                                        {{ achievement.name }}
                                    </a>
                                </div><!-- /.isotope-overlay -->
                            </div><!-- /.item -->
                            {% endfor %}
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!--/.isotope-->
            </div><!--/.gallery-content-->
        </div><!--/.container-->
    </div><!--/.achievements-details-->
</section><!--/.achievements-->
<!--achievements end -->
