<!--experience start -->
<section id="experience" class="experience">
    <div class="section-heading text-center">
        <h2>experience</h2>
    </div>
    <div class="container">
        <div class="experience-content">
            <div class="main-timeline">
                <ul>
                    {% for datum in site.data.experience %}
                    {% assign modulus = forloop.index | modulo: 2 %}
                    {% if modulus == 1 %}
                    <li>
                        <div class="single-timeline-box fix">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="experience-time text-right">
                                        <h2>{{ datum.timePeriod }}</h2>
                                        <h3>{{ datum.title }}</h3>
                                    </div><!--/.experience-time-->
                                </div><!--/.col-->
                                <div class="col-md-offset-1 col-md-5">
                                    <div class="timeline">
                                        <div class="timeline-content">
                                            <h4 class="title">
                                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                                {{ datum.company.name }}
                                            </h4>
                                            <h5>{{ datum.company.location }}</h5>
                                            <p class="description">{{ datum.description }}</p>
                                        </div><!--/.timeline-content-->
                                    </div><!--/.timeline-->
                                </div><!--/.col-->
                            </div>
                        </div><!--/.single-timeline-box-->
                    </li>
                    {% endif %}
                    {% if modulus == 0 %}
                    <li>
                        <div class="single-timeline-box fix">
                            <div class="row">
                                <div class="col-md-offset-1 col-md-5 experience-time-responsive nadun">
                                    <div class="experience-time">
                                        <h2>
                                            <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                            {{ datum.timePeriod }}
                                        </h2>
                                        <h3>{{ datum.title }}</h3>
                                    </div><!--/.experience-time-->
                                </div><!--/.col-->
                                <div class="col-md-5">
                                    <div class="timeline">
                                        <div class="timeline-content text-right">
                                            <h4 class="title">{{ datum.company.name }}</h4>
                                            <h5>{{ datum.company.location }}</h5>
                                            <p class="description">{{ datum.description }}</p>
                                        </div><!--/.timeline-content-->
                                    </div><!--/.timeline-->
                                </div><!--/.col-->
                                <div class="col-md-offset-1 col-md-5 experience-time-main">
                                    <div class="experience-time">
                                        <h2>
                                            <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                            {{ datum.timePeriod }}
                                        </h2>
                                        <h3>{{ datum.title }}</h3>
                                    </div><!--/.experience-time-->
                                </div><!--/.col-->
                            </div>
                        </div><!--/.single-timeline-box-->
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div><!--.main-timeline-->
        </div><!--.experience-content-->
    </div>
</section><!--/.experience-->
<!--experience end -->
