<!--projects start -->
<section id="projects" class="projects">
    <div class="section-heading text-center">
        <h2>contributed projects</h2>
    </div>
    <div class="projects-area">
        <div class="container">
            <div class="owl-carousel owl-theme" id="projects-carousel">
                {% for project in site.data.projects %}
                <div class="item">
                    <a href="{{ project.link }}" target="_blank">
                        <img src="{{ project.logo }}" alt="{{ project.name }}" />
                    </a>
                </div><!--/.item-->
                {% endfor %}
            </div><!--/.owl-carousel-->
        </div><!--/.container-->
    </div><!--/.projects-area-->
</section><!--/.projects-->
<!--projects end -->
