<!--skills start -->
<section id="skills" class="skills">
    <div class="skill-content">
        <div class="section-heading text-center">
            <h2>skills</h2>
        </div>
        <div class="container">
            <div class="row">
                {% assign skillsRowCount = site.data.skills.size | divided_by: 2 %}
                <div class="col-md-6">
                    <div class="single-skill-content">
                        {% for skill in site.data.skills limit: skillsRowCount %}
                        <div class="barWrapper">
                            <span class="progressText">{{ skill.name }}</span>
                            <div class="single-progress-txt">
                                <div class="progress ">
                                    <div class="progress-bar" role="progressbar" aria-valuemax="100" style=""
                                         aria-valuenow="{{ skill.percentage }}"
                                         aria-valuemin="{{ 100 | minus: skill.percentage }}">

                                    </div>
                                </div>
                                <h3>{{ skill.percentage }}%</h3>
                            </div>
                        </div><!-- /.barWrapper -->
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single-skill-content">
                        {% for skill in site.data.skills offset: skillsRowCount %}
                        <div class="barWrapper">
                            <span class="progressText">{{ skill.name }}</span>
                            <div class="single-progress-txt">
                                <div class="progress ">
                                    <div class="progress-bar" role="progressbar" aria-valuemax="100" style=""
                                         aria-valuenow="{{ skill.percentage }}"
                                         aria-valuemin="{{ 100 | minus: skill.percentage }}">

                                    </div>
                                </div>
                                <h3>{{ skill.percentage }}%</h3>
                            </div>
                        </div><!-- /.barWrapper -->
                        {% endfor %}
                    </div>
                </div>
            </div><!-- /.row -->
        </div>	<!-- /.container -->
    </div><!-- /.skill-content-->
</section><!--/.skills-->
<!--skills end -->
