<!--about start -->
<section id="about" class="about">
    <div class="section-heading text-center">
        <h2>about me</h2>
    </div>
    <div class="container">
        <div class="about-content">
            <div class="row">
                <div class="col-sm-6">
                    <div class="single-about-txt">
                        <h3>{{ site.data.profile.aboutMe.main }}</h3>
                        <p>{{ site.data.profile.aboutMe.moreInfo }}</p>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="single-about-add-info">
                                    <h3>phone</h3>
                                    <p>{{ site.data.profile.phone }}</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="single-about-add-info">
                                    <h3>email</h3>
                                    <p>{{ site.data.profile.email }}</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="single-about-add-info">
                                    <h3>website</h3>
                                    <p>{{ site.data.profile.website }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-offset-1 col-sm-5">
                    <div class="single-about-img">
                        <img src="assets/images/about/profile-photo.jpg"
                             alt="{{ site.data.profile.firstName }} {{ site.data.profile.lastName }}">
                        <div class="about-list-icon">
                            <ul>
                                {% for item in site.data.profile.socialMedia %}
                                <li>
                                    <a href="{{ item.url }}" target="_blank">
                                        <i class="fa {{ item.iconClass }}" aria-hidden="true"></i>
                                    </a>
                                </li><!-- / li -->
                                {% endfor %}
                            </ul><!-- / ul -->
                        </div><!-- /.about-list-icon -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/.about-->
<!--about end -->
