<!--welcome-hero start -->
<section id="welcome-hero" class="welcome-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="header-text">
                    <h2>hi <span>,</span> i am <br> {{ site.data.profile.firstName }} <br> {{ site.data.profile.lastName }} <span>.</span></h2>
                    <p>{{ site.data.profile.occupation }}</p>
<!--                    <a href="assets/download/cv.txt" download>download CV</a>-->
                </div><!--/.header-text-->
            </div><!--/.col-->
        </div><!-- /.row-->
    </div><!-- /.container-->
</section><!--/.welcome-hero-->
<!--welcome-hero end -->
