/*
 * Nadun De Silva - All Rights Reserved
 *
 * This source code and its associated files are the
 * property of Nadun De Silva. Any unauthorized use,
 * reproduction, or distribution is strictly prohibited.
 *
 * Website: https://nadundesilva.github.io
 * 
 * © 2023 Nadun De Silva. All rights reserved.
 */

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #616161;
    text-decoration: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: darkgrey;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    box-shadow: inset 0 0 6px rgba(0 0 0 / 30%);
}

hr {
    border: 0;
    text-align: center;
    padding-bottom: 2em;

    &::before {
        content: "\2022\2800\2022\2800\2022";
        font-size: 2rem;
        color: #666;
    }
}
