name: Deploy Site

on:
    - push
    - pull_request

permissions:
    contents: read
    packages: read

jobs:
    run-project-linter:
        name: Run Project Linter
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
              with:
                  fetch-depth: 0
                  persist-credentials: false
            - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
              with:
                  node-version: "24.13.0"
            - name: Install Dependencies
              run: npm ci
            - name: Run Linter
              run: npm run lint

    run-super-linter:
        name: Run GitHub Super Linter
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: read
            statuses: write
        steps:
            - name: Checkout repository
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
              with:
                  fetch-depth: 0
                  persist-credentials: false
            - name: Setup Node.js
              uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
              with:
                  node-version: "24.13.0"
            - name: Install Dependencies
              run: npm ci
            - name: Lint Code Base
              uses: super-linter/super-linter@d5b0a2ab116623730dd094f15ddc1b6b25bf7b99 # v8.3.2
              env:
                  DEFAULT_BRANCH: main
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  IGNORE_GITIGNORED_FILES: "true"
                  TYPESCRIPT_ES_CONFIG_FILE: eslint.config.js
                  LINTER_RULES_PATH: .
                  VALIDATE_ALL_CODEBASE: "true"
                  VALIDATE_CSS: "false"
                  VALIDATE_HTML: "false"
                  VALIDATE_JAVASCRIPT_ES: "false"
                  VALIDATE_JAVASCRIPT_STANDARD: "false"
                  VALIDATE_TYPESCRIPT_STANDARD: "false"
                  VALIDATE_CSS_PRETTIER: "false"
                  VALIDATE_BIOME_FORMAT: "false"
                  VALIDATE_BIOME_LINT: "false"
                  VALIDATE_MARKDOWN: "false"
                  VALIDATE_CHECKOV: "false"
                  VALIDATE_EDITORCONFIG: "false"

    run-vulnerability-analysis:
        name: Run Vulnerability Analysis
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: read
            security-events: write
        steps:
            - name: Checkout
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
              with:
                  persist-credentials: false
            - name: Run Trivy vulnerability scanner
              uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
              with:
                  scan-type: fs
                  vuln-type: library
                  exit-code: 1
                  format: sarif
                  output: trivy-results.sarif
                  ignore-unfixed: true
            - name: Upload Trivy scan results to GitHub Security tab
              uses: github/codeql-action/upload-sarif@cdefb33c0f6224e58673d9004f47f7cb3e328b89 # v4.31.10
              if: always()
              with:
                  sarif_file: trivy-results.sarif

    run-e2e-tests:
        strategy:
            matrix:
                browser:
                    - electron
                    - chrome
                    - firefox
                    - edge
        name: Run E2E Tests (${{ matrix.browser }})
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
              with:
                  fetch-depth: 0
                  persist-credentials: false
            - name: Setup Node.js
              uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
              with:
                  node-version: "24.13.0"
            - name: Install Dependencies
              run: npm ci
            - name: Instrument Website for Code Coverage
              run: |
                  npm ci
                  npx nyc instrument --in-place --compact=false .
                  npm run build
              env:
                  BUILD_TYPE: test
            - name: Run E2E Tests
              uses: cypress-io/github-action@8a35f965fbd13e3b18d9fb3bdc5f50ae2f4a5e76 # v7.1.0
              with:
                  start: bash .github/scripts/start-server.sh
                  browser: ${{ matrix.browser }}
                  record: true
                  tag: prebuild-test-in-browser-${{ matrix.browser }}
              env:
                  WEBSITE_BUILD_DIR: out
                  CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
                  CYPRESS_BASE_URL: https://nadundesilva.com
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            - name: Shutdown Test Server
              run: bash .github/scripts/stop-server.sh
            - name: Upload Code Coverage to CodeCov
              if: ${{ github.event_name == 'push' }}
              uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
              with:
                  name: coverage-reports
                  flags: e2e-tests
                  fail_ci_if_error: true
                  verbose: true
              env:
                  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
            - name: Upload Test Results Artifacts
              if: always()
              uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
              with:
                  name: e2e-test-results-${{ matrix.browser }}
                  path: |
                      cypress/videos/
                      cypress/screenshots/
            - name: Upload Code Coverage Report Artifacts
              uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
              with:
                  name: e2e-tests-coverage-${{ matrix.browser }}
                  path: coverage/

    build-site:
        name: Build Site
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
              with:
                  fetch-depth: 0
                  persist-credentials: false
            - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
              with:
                  node-version: "24.13.0"
            - name: Install Dependencies
              run: npm ci
            - name: Build Site
              run: |
                  export PUBLIC_URL="https://${DOMAIN_NAME}"
                  npm run build
                  touch ./out/.nojekyll
                  echo "${DOMAIN_NAME}" > ./out/CNAME
              env:
                  DOMAIN_NAME: nadundesilva.com
                  SENTRY_RELEASE: ${{ github.sha }}
                  SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
            - name: Upload Site
              uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
              with:
                  name: site
                  path: out/
            - name: Upload Unit Tests Code Coverage Report
              uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
              with:
                  name: unit-tests-coverage
                  path: coverage/

    check-links:
        name: Check Links in Website
        runs-on: ubuntu-latest
        needs: build-site
        steps:
            - name: Checkout
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
              with:
                  fetch-depth: 0
                  persist-credentials: false
            - name: Setup Node.js
              uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
              with:
                  node-version: "24.13.0"
            - name: Install Dependencies
              run: npm ci
            - name: Download Site
              uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
              with:
                  name: site
                  path: _site/
            - name: Start Server
              run: |
                  source ./.github/scripts/start-server.sh
              env:
                  WEBSITE_BUILD_DIR: _site
            - name: Link Checker
              id: lychee
              uses: lycheeverse/lychee-action@a8c4c7cb88f0c7386610c35eb25108e448569cb0 # v2.7.0
              with:
                  args: --verbose --no-progress https://nadundesilva.com/
                  fail: true
            - name: Stop Server
              run: |
                  source ./.github/scripts/stop-server.sh
              env:
                  WEBSITE_BUILD_DIR: _site
            - name: Upload Link Checker Report
              if: always()
              uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
              with:
                  name: link-checker-report
                  path: ./lychee/out.md

    check-site-build:
        strategy:
            matrix:
                browser:
                    - electron
                    - chrome
                    - firefox
                    - edge
        name: Check Site Build (${{ matrix.browser }})
        runs-on: ubuntu-latest
        needs: build-site
        steps:
            - name: Checkout
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
              with:
                  fetch-depth: 0
                  persist-credentials: false
            - name: Setup Node.js
              uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
              with:
                  node-version: "24.13.0"
            - name: Install Dependencies
              run: npm ci
            - name: Download Site
              uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
              with:
                  name: site
                  path: _site/
            - name: Run E2E Tests
              uses: cypress-io/github-action@8a35f965fbd13e3b18d9fb3bdc5f50ae2f4a5e76 # v7.1.0
              with:
                  start: bash .github/scripts/start-server.sh
                  browser: ${{ matrix.browser }}
                  record: true
                  tag: check-site-build-in-browser-${{ matrix.browser }}
              env:
                  WEBSITE_BUILD_DIR: _site
                  CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
                  CYPRESS_BASE_URL: https://nadundesilva.com
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            - name: Shutdown Test Server
              run: bash .github/scripts/stop-server.sh
            - name: Upload artifacts
              if: always()
              uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
              with:
                  name: site-build-e2e-test-results-${{ matrix.browser }}
                  path: |
                      cypress/videos/
                      cypress/screenshots/

    run-website-audit:
        name: Run Website Audit
        runs-on: ubuntu-latest
        needs: build-site
        steps:
            - name: Checkout
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
              with:
                  fetch-depth: 0
                  persist-credentials: false
                  sparse-checkout-cone-mode: false
                  sparse-checkout: |
                      .github
                      .lighthouserc.js
            - name: Download Site
              uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
              with:
                  name: site
                  path: _site/
            - name: Setup Node.js
              uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
              with:
                  node-version: "24.13.0"
            - name: Run Lighthouse Audit
              run: |
                  ls -la
                  npm install -g @lhci/cli@0.15.x
                  source ./.github/scripts/start-server.sh
                  lhci autorun
                  source ./.github/scripts/stop-server.sh
              env:
                  WEBSITE_BUILD_DIR: _site
                  LHCI_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            - name: Upload artifacts
              if: always()
              uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
              with:
                  name: website-audit
                  path: ./lhci-out

    deploy-site:
        name: Deploy Site
        runs-on: ubuntu-latest
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        permissions:
            contents: write
        needs:
            - run-super-linter
            - run-project-linter
            - run-vulnerability-analysis
            - run-e2e-tests
            - build-site
            - check-links
            - run-website-audit
            - check-site-build
        steps:
            - name: Checkout
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
              with:
                  fetch-depth: 0
                  persist-credentials: false
            - name: Download Site
              uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
              with:
                  name: site
                  path: _site/
            - name: Setup Node.js
              uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
              with:
                  node-version: "24.13.0"
                  package-manager-cache: false
            - name: Deploy
              uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65 # v3.14.1
              with:
                  apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
                  accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
                  workingDirectory: "_site"
                  command: |
                      pages deploy . --project-name=personal-website --branch=production --commit-dirty=true
