name: Deployment Check

on:
    workflow_dispatch:
    deployment:
    schedule:
        - cron: 0 0 * * *

permissions:
    contents: read
    packages: read

jobs:
    deployment-validation:
        strategy:
            matrix:
                browser:
                    - electron
                    - chrome
                    - firefox
                    - edge
        name: Ubuntu Deployment Check (${{ matrix.browser }})
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
              with:
                  fetch-depth: 0
                  persist-credentials: false
            - name: Setup Node.js
              uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
              with:
                  node-version: "24.13.0"
            - name: Install NPM Dependencies
              run: |
                  npm ci
            - name: Run E2E Tests
              uses: cypress-io/github-action@8a35f965fbd13e3b18d9fb3bdc5f50ae2f4a5e76 # v7.1.0
              with:
                  record: true
                  tag: deployment-check-in-browser-${{ matrix.browser }}
              env:
                  CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
                  CYPRESS_BASE_URL: https://nadundesilva.com
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            - name: Upload artifacts
              if: always()
              uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
              with:
                  name: test-results-${{ matrix.browser }}
                  path: |
                      cypress/videos/
                      cypress/screenshots/

    links-check:
        name: Check Links in Website
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
              with:
                  fetch-depth: 0
                  persist-credentials: false
            - name: Link Checker
              id: lychee
              uses: lycheeverse/lychee-action@a8c4c7cb88f0c7386610c35eb25108e448569cb0 # v2.7.0
              with:
                  args: --verbose --no-progress https://nadundesilva.com/
                  fail: true
            - name: Upload Link Checker Report
              if: always()
              uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
              with:
                  name: Link Checker Report
                  path: ./lychee/out.md

    website-audit:
        name: Run Website Audit
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
              with:
                  fetch-depth: 0
                  persist-credentials: false
                  sparse-checkout-cone-mode: false
                  sparse-checkout: |
                      .github
                      .lighthouserc.js
            - name: Setup Node.js
              uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
              with:
                  node-version: "24.13.0"
            - name: Run Lighthouse Audit
              run: |
                  npm install -g @lhci/cli@0.15.x
                  lhci autorun
              env:
                  LHCI_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  VALIDATING_LIVE_SITE: "true"
            - name: Upload artifacts
              if: always()
              uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
              with:
                  name: website-audit
                  path: ./lhci-out

    run-vulnerability-analysis:
        name: Run Vulnerability Analysis
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: read
            security-events: write
        steps:
            - name: Checkout
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
              with:
                  persist-credentials: false
            - name: Run Trivy vulnerability scanner
              uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
              with:
                  scan-type: fs
                  vuln-type: library
                  exit-code: 1
                  format: sarif
                  output: trivy-results.sarif
                  ignore-unfixed: true
            - name: Upload Trivy scan results to GitHub Security tab
              uses: github/codeql-action/upload-sarif@cdefb33c0f6224e58673d9004f47f7cb3e328b89 # v4.31.10
              if: always()
              with:
                  sarif_file: trivy-results.sarif
