name: Deployment Check

on:
    workflow_dispatch:
    deployment:
    schedule:
        - cron: 0 0 * * *

permissions:
    contents: read
    packages: read

jobs:
    deployment-validation:
        strategy:
            matrix:
                browser:
                    - electron
                    - chrome
                    - firefox
                    - edge
        name: Ubuntu Deployment Check (${{ matrix.browser }})
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
              with:
                  fetch-depth: 0
                  persist-credentials: false
            - name: Setup Node.js
              uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
              with:
                  node-version: "22.20.0"
            - name: Install NPM Dependencies
              run: |
                  npm ci
            - name: Run E2E Tests
              uses: cypress-io/github-action@b8ba51a856ba5f4c15cf39007636d4ab04f23e3c # v6.10.2
              with:
                  record: true
                  tag: deployment-check-in-browser-${{ matrix.browser }}
              env:
                  CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
                  CYPRESS_BASE_URL: https://nadundesilva.com
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            - name: Upload artifacts
              if: always()
              uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
              with:
                  name: test-results-${{ matrix.browser }}
                  path: |
                      cypress/videos/
                      cypress/screenshots/

    links-check:
        name: Check Links in Website
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
              with:
                  fetch-depth: 0
                  persist-credentials: false
            - name: Link Checker
              id: lychee
              uses: lycheeverse/lychee-action@885c65f3dc543b57c898c8099f4e08c8afd178a2 # v2.6.1
              with:
                  args: --verbose --no-progress https://nadundesilva.com/
                  fail: true
            - name: Upload Link Checker Report
              if: always()
              uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
              with:
                  name: Link Checker Report
                  path: ./lychee/out.md

    website-audit:
        name: Run Website Audit
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
              with:
                  fetch-depth: 0
                  persist-credentials: false
                  sparse-checkout-cone-mode: false
                  sparse-checkout: |
                      .github
                      .lighthouserc.js
            - name: Setup Node.js
              uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
              with:
                  node-version: "22.20.0"
            - name: Run Lighthouse Audit
              run: |
                  npm install -g @lhci/cli@0.15.x
                  lhci autorun
              env:
                  LHCI_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  VALIDATING_LIVE_SITE: "true"
            - name: Upload artifacts
              if: always()
              uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
              with:
                  name: website-audit
                  path: ./lhci-out

    run-vulnerability-analysis:
        name: Run Vulnerability Analysis
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: read
            security-events: write
        steps:
            - name: Checkout
              uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
              with:
                  persist-credentials: false
            - name: Run Trivy vulnerability scanner
              uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
              with:
                  scan-type: fs
                  vuln-type: library
                  exit-code: 1
                  format: sarif
                  output: trivy-results.sarif
            - name: Upload Trivy scan results to GitHub Security tab
              uses: github/codeql-action/upload-sarif@192325c86100d080feab897ff886c34abd4c83a3 # v3
              if: always()
              with:
                  sarif_file: trivy-results.sarif
